<template>
  <v-main>
    <v-container fluid>
        <v-card-title class="headline">
          Start organizing your life now!
        </v-card-title>

      <v-row class="mt-10">
        <v-card
            class="mt-4 mx-auto"
            max-width="600"
            width="600"
        >
          <v-sheet
              class="v-sheet--offset mx-auto"
              color="cyan"
              elevation="12"
              max-width="calc(100% - 32px)"
          >
            <v-sparkline
                :labels="labels"
                :value="value"
                color="white"
                line-width="2"
                padding="16"
            ></v-sparkline>
          </v-sheet>

          <v-card-text class="pt-0">
            <div class="text-h6 font-weight-light mb-2">
              Track your yearly activity
            </div>
            <v-flex class="subheading font-weight-light grey--text">
              <v-subheader class="d-inline">Premium feature </v-subheader>
              <v-icon small>
                mdi-cash-multiple
              </v-icon>
            </v-flex>
            <v-divider class="my-2"></v-divider>
          </v-card-text>
        </v-card>

        <v-card
            class="mx-auto text-center"
            color="green"
            dark
            max-width="600"
            width="600"
        >
          <v-card-text>
            <v-sheet color="rgba(0, 0, 0, .12)">
              <v-sparkline
                  :labels="weekDays"
                  :value="weeklyValue"
                  color="rgba(255, 255, 255, .7)"
                  height="100"
                  padding="24"
                  stroke-linecap="round"
                  smooth
              >
                <template v-slot:label="labels">
                  {{ labels.value }}
                </template>
              </v-sparkline>
            </v-sheet>
          </v-card-text>

          <v-card-text>
            <div class="text-h4 font-weight-thin">
              Activity this past week
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions class="justify-center">
            <v-btn
                block
                text
                to="/weekly-plans"
            >
              Go to Weekly Plan
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
export default {
  data: () => ({
    labels: [
      'Jan',
      'Feb',
      'Mar',
      'Apr',
      'May',
      'Jun',
      'Jul',
      'Aug',
      'Sept',
      'Oct',
      'Nov',
      'Dec',
    ],
    value: [
      200,
      675,
      410,
      390,
      310,
      460,
      250,
      240,
      300,
      340,
      540,
      740,
    ],
    weeklyValue: [
      3,
      5,
      7,
      4,
      5,
      2,
      1,
    ],
    weekDays: [
        'Mon',
        'Tues',
        'Wed',
        'Thur',
        'Fri',
        'Sat',
        'Sun',
    ]
  }),
}
</script>

<style>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>