<template>
  <v-main class="d-flex flex-column justify-center mt-5">

  <v-card class="pa-2 pt-4 mx-auto" max-width="832">
    <v-img :src="require('@/assets/login.jpg')" max-width="400" class="mx-auto"></v-img>
    <v-card-title>Login</v-card-title>
    <v-card-text>
      <v-form @submit.prevent>
        <v-text-field type="text" v-model="payload.username" outlined color="secondary" label="Email" />
        <v-text-field
            outlined
            color="secondary"
            label="Password"
            :type="passwordFieldType"
            v-model="payload.password"
            :append-icon="passwordFieldIcon"
            @click:append="toggleShowPassword()"
        />
        <v-btn type="submit" @click="login" class="mb-1" color="secondary" block>Login</v-btn>
      </v-form>
    </v-card-text>
  </v-card>
  </v-main>
</template>


<script lang="ts">
import Vue from 'vue'
import api from '@/plugins/api'


export default Vue.extend({
  name: 'Login-page',
  data() {
    return {
      payload: { username: 'admin', password: 'password' },
      rememberMe: false,
      showPassword: false,
    }
  },
  methods: {
    toggleShowPassword(): void {
      this.showPassword = !this.showPassword
    },
    async login(): Promise<void> {
      try{
        const res = await api().post('api/login', this.payload);
        if (res) {
          await this.$store.dispatch('login', res)
        }
      } catch (err){
        console.log(err);
      } finally {
        await this.$router.push({name: "home"})
      }
    }
  },
  computed: {
    passwordFieldType(): string {
      return this.showPassword ? 'text' : 'password'
    },
    passwordFieldIcon(): string {
      return this.showPassword ? 'mdi-eye-outline' : 'mdi-eye-off-outline'
    },
  },
})
</script>
