<template>
    <div class="dashboard">
      <v-subheader class="text-h4 mt-4">Weekly Plans</v-subheader>
      <v-container class="my-5">
        <v-card rounded flat v-for="schedule in data" :key="schedule.id" class="mb-2">
          <v-layout :class="`pa-3 project ${schedule.priority}`">
            <v-flex xs12 md6>
              <div class="caption grey--text">
                Title
              </div>
              <div>
                {{schedule.name}}
              </div>
            </v-flex>
            <v-flex xs6 sm4 md2>
              <div class="caption grey--text">
                Start Date
              </div>
              <div>
                {{schedule.start}}
              </div>
            </v-flex>
            <v-flex xs6 sm4 md2>
              <div class="caption grey--text">
                End date
              </div>
              <div>
                {{schedule.end}}
              </div>
            </v-flex>
            <v-flex xs6 sm4 md2>
              <div class="right">
                <v-chip small :class="`my-2 caption white--text ${schedule.priority}`">{{schedule.priority}}</v-chip>
              </div>
            </v-flex>
          </v-layout>
        </v-card>
        <v-subheader class="text-h5 black--text" v-if="this.data.length === 0">No tasks for this week yet!</v-subheader>
      </v-container>
    </div>
</template>

<script>
import api from "@/plugins/api";

export default {
    data() {
      return {
        data: [],
      }
    },
  beforeMount() {
    this.fetchData();
  },
  methods: {
    fetchData(){
      api()
          .get(`api/weekly-plan`)
          .then(({ data }) => {
            this.data = data.data
          })
          .catch(({ response }) => console.log(response))
    }
  }
}
</script>

<style scoped>
.project.HIGH{
  border-left: 4px solid #EF5350;
}
.project.LOW{
  border-left: 4px solid #66BB6A;
}
.project.MEDIUM{
  border-left: 4px solid #FFB74D;
}
.v-chip.HIGH{
  background: #EF5350 !important;
}
.v-chip.LOW{
  background: #66BB6A !important;
}
.v-chip.MEDIUM{
  background: #FFB74D !important;
}
</style>