<template>
  <v-btn
      v-bind="{ ...$attrs, ...$props }"
      elevation="0"
      v-on="$listeners"
      color="red lighten-3 red--text text--darken-4"
      @click="submit"
  >
    <slot> Cancel </slot>
  </v-btn>
</template>

<script>
export default {
  props: ['label', 'xLarge', 'confirm', 'noButtonMargins'],
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    submit() {
      this.$emit('clicked')
      this.dialog = false
    }
  }
}
</script>
