<template>
  <div :class="noButtonMargins ? 'mr-1' : 'mr-4'">
    <v-btn :x-large="xLarge" color="error" @click="confirmBeforeSubmitting">
      {{ label }}
    </v-btn>
    <v-dialog v-model="dialog" max-width="400">
      <v-card>
        <v-card-title class="text-h5">
          Jeni të Sigurt Për këtë Veprim ?
        </v-card-title>
        <v-card-actions>
          <v-btn elevation="0" dark color="error" x-large @click="dialog = false">
            Jo
          </v-btn>
          <v-spacer />
          <v-btn elevation="0" dark color="green" x-large @click="submit">
            {{ label }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['label', 'xLarge', 'confirm', 'noButtonMargins'],
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    confirmBeforeSubmitting() {
      if (!this.confirm) {
        return this.$emit('clicked')
      }
      this.dialog = true
    },
    submit() {
      this.$emit('clicked')
      this.dialog = false
    }
  }
}
</script>
