<template>
  <v-list-item class="my-3">
    <v-list-item-title><b>{{ label }}</b></v-list-item-title>
    <v-list-item-subtitle class="text--primary"><slot/></v-list-item-subtitle>
  </v-list-item>
</template>

<script>
export default {
  props: ['label']
}
</script>
