<template>
  <v-icon
      @click="$emit('clicked')"
      small
      class="mr-2"
      v-on="on"
      v-bind="attrs">
    mdi-pencil
  </v-icon>
</template>

<script>
export default {
  props: ['on', 'attrs']
}
</script>
