<template>
  <nav>
    <v-toolbar flat class="secondary">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="white--text"></v-app-bar-nav-icon>
      <v-toolbar-title>
        <span class="font-weight-light white--text">Neat</span>
        <span class="white--text">Ly</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn plain class="white--text" @click="logOut">
        <span>Sign Out</span>
        <v-icon right>mdi-logout</v-icon>
      </v-btn>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" app temporary color="secondary">
      <v-list nav dense>
        <v-list-item-group
          active-class="s_accent text--accent-4"
        >
          <v-list-item
            v-for="({ path, meta }, i) in drawerRoutes"
            :key="i"
            router
            :to="path"
          >
            <v-list-item-action>
              <v-icon class="white--text" active-class="black--text">{{ meta.drawer ? meta.drawer.icon : '' }}</v-icon>
            </v-list-item-action>
            <v-list-item-title class="white--text">{{
                meta.drawer ? meta.drawer.label : ''
            }}</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import { routes } from '@/router'
import hasPermission from '@/utils/hasPermission'

export default {
  data() {
    return {
      drawer: true,
    };
  },
  computed: {
    drawerRoutes() {
      return routes.filter((route) => route.meta && route.meta.drawer && hasPermission(route.meta.permission))
    },
  },
  methods: {
    async logOut(){
      await this.$store.dispatch('logout')
    },
  },
};
</script>
