<template>
  <v-btn class="lighten-1" elevation="0" v-bind="{ ...$attrs, ...$props }"
         v-on="$listeners" dark color="green"
         @click="submit"
  >
    <slot> Confirm </slot>
  </v-btn>
</template>

<script>
export default {
  props: ['label', 'xLarge', 'confirm', 'noButtonMargins'],
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    confirmBeforeSubmitting() {
      if (!this.confirm) {
        return this.$emit('clicked')
      }
      this.dialog = true
    },
    submit() {
      this.$emit('clicked')
      this.dialog = false
    }
  }
}
</script>