<template>
  <v-dialog v-model="dialog" scrollable width="500">
    <template v-slot:activator="{ on }">
      <create-button v-on="on">Add Schedule</create-button>
    </template>
    <v-card>
      <v-card-title class="light-grey headline">Schedule Details</v-card-title>
      <v-card-text>
        <v-text-field
            v-model="data.title"
            label="Title"
            color="secondary"
            :error-messages="errors.title"
            @input="clearFieldError('title')"
        />
        <v-textarea
            v-model="data.details"
            label="Details of the event"
            color="secondary"
            rows="3"
            :error-messages="errors.details"
            @input="clearFieldError('details')"
        />
        <v-card class="px-3 mt-3 pb-3">
          <v-card-title>Extra Information</v-card-title>
          <v-text-field
              v-model="data.from_date"
              label="From Date"
              color="secondary"
              type="date"
              :error-messages="errors.from_date"
              @input="clearFieldError('from_date')"
          />
          <v-text-field
              v-model="data.to_date"
              label="To Date"
              color="secondary"
              type="date"
              :error-messages="errors.to_date"
              @input="clearFieldError('to_date')"
          />
          <v-select
              v-model="data.priority"
              :items="items"
              label="Priority"
              :error-messages="errors.priority"
          >
          </v-select>
          <v-select
              v-model="data.color"
              :items="colors"
              label="Color"
              :error-messages="errors.color"
          >
          </v-select>
        </v-card>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <cancel-button label="Cancel" @click="close" />
        <submit-button @click="add" color="green" width="120" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import CreateButton from '@/components/CreateButton.vue';
import CancelButton from '@/components/CancelButton.vue';
import SubmitButton from '@/components/SubmitButton.vue';
import api from "@/plugins/api";
import Vue from "vue";
import store from "@/store";

export default {
  components: {CreateButton, CancelButton, SubmitButton},
  data(){
    return {
      dialog: false,
      items: ['HIGH', 'MEDIUM', 'LOW'],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      data: {
        user_id: store.getters.userId,
        from_date: '',
        to_date: '',
        priority: '',
        title: '',
        details: '',
        color: '',
      },
      errors: {}
    }
  },
  methods: {
    async add() {
      try {
        const response = await api().post('/api/schedule', this.data)
        if (response) {
          this.$emit('schedule-created')
          this.$notify({
            group: 'popup',
            title: 'Success',
            text: response.data.message,
            type: 'success',
          });
          this.close()
        }
      } catch ({response}) {
        this.errors = response.data.errors;
        this.$notify({
          group: 'popup',
          title: 'Error',
          text: response.data.message,
          type: 'error',
        });
      }
    },
    close(){
      this.data = {
        user_id: store.getters.userId,
        from_date: '',
        to_date: '',
        priority: '',
        title: '',
        details: '',
        color: '',
      }
      this.errors = {}
      this.dialog = false
    },
    clearFieldError(key) {
      Vue.delete(this.errors, key)
    }
  }
}
</script>