<template>
  <div class="home">
    <v-row class="mt-5 mb-2">
      <v-spacer />
      <v-col cols="3">
        <create-schedule @schedule-created="getEvents"/>
      </v-col>
    </v-row>
    <v-container>
      <template>
        <v-row class="fill-height">
          <v-col>
            <v-sheet height="64">
              <v-toolbar
                  flat
                  dark
              >
                <v-btn
                    outlined
                    class="mr-4 text--white"
                    @click="setToday"
                >
                  Today
                </v-btn>
                <v-btn
                    fab
                    text
                    small
                    class="text--white"
                    @click="prev"
                >
                  <v-icon small>
                    mdi-chevron-left
                  </v-icon>
                </v-btn>
                <v-btn
                    fab
                    text
                    small
                    class="text--white"
                    @click="next"
                >
                  <v-icon small>
                    mdi-chevron-right
                  </v-icon>
                </v-btn>
                <v-toolbar-title v-if="$refs.calendar">
                  {{ $refs.calendar.title }}
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu
                    bottom
                    right
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        outlined
                        class="text--white"
                        v-bind="attrs"
                        v-on="on"
                    >
                      <span>{{ typeToLabel[type] }}</span>
                      <v-icon right>
                        mdi-menu-down
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item @click="type = 'day'">
                      <v-list-item-title>Day</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = 'week'">
                      <v-list-item-title>Week</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = 'month'">
                      <v-list-item-title>Month</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = '4day'">
                      <v-list-item-title>4 days</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-toolbar>
            </v-sheet>
            <v-sheet height="600">
              <v-calendar
                  dark
                  ref="calendar"
                  v-model="focus"
                  color="primary"
                  :events="events"
                  :event-color="getEventColor"
                  :type="type"
                  @click:event="showEvent"
                  @click:more="viewDay"
                  @click:date="viewDay"
                  @change="updateRange"
              ></v-calendar>
              <v-menu
                  v-model="selectedOpen"
                  :close-on-content-click="false"
                  :activator="selectedElement"
                  offset-x
              >
                <v-card
                    color="grey lighten-4"
                    min-width="350px"
                    flat
                >
                  <v-toolbar
                      :color="selectedEvent.color"
                      dark
                  >
                    <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon>
                      <v-icon @click="deleteEvent(selectedEvent.id)">mdi-delete</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-card-text>
                    <form v-if="currentlyEditing !== selectedEvent.id">
                      {{selectedEvent.details}}
                    </form>
                    <form v-else>
                      <textarea
                          v-model="selectedEvent.details"
                          type="text"
                          style="width: 100%"
                          placeholder="Add Details"
                      >
                      </textarea>
                    </form>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                        text
                        color="secondary"
                        @click="selectedOpen = false"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                        text
                        v-if="currentlyEditing !== selectedEvent.id"
                        @click.prevent="editEvent(selectedEvent)"
                    >
                      Edit
                    </v-btn>
                    <v-btn
                        text
                        v-else
                        @click.prevent="updateEvent(selectedEvent)"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-menu>
            </v-sheet>
          </v-col>
        </v-row>
      </template>
    </v-container>
  </div>
</template>

<script>
import api from "@/plugins/api";
import CreateSchedule from "./CreateSchedule"

export default {
  components: {CreateSchedule},
  data: () => ({
    today: new Date().toISOString().substr(0, 10),
    focus: new Date().toISOString().substr(0, 10),
    type: 'month',
    typeToLabel: {
      month: 'Month',
      week: 'Week',
      day: 'Day',
      '4day': '4 Days',
    },
    currentlyEditing: null,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    dialog: false,
    names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
    name: null,
    details: null,
    start: null,
    end: null,
    request: {},
    errors: {},
  }),
  mounted () {
    this.getEvents()
  },
  methods: {
    async getEvents() {
        api()
          .get(`api/schedule`)
          .then(({ data }) => {
            this.events = (data.data)
          })
          .catch(({ response }) => console.log(response))
    },
    viewDay ({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor (event) {
      return event.color
    },
    setToday () {
      this.focus = ''
    },
    prev () {
      this.$refs.calendar.prev()
    },
    next () {
      this.$refs.calendar.next()
    },
    showEvent ({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.request = event
        this.selectedElement = nativeEvent.target
        requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        requestAnimationFrame(() => requestAnimationFrame(() => open()))
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    editEvent (ev) {
      this.currentlyEditing = ev.id;
    },
    async updateEvent(){
      api()
          .put(`api/schedule/${this.selectedEvent.id}`, this.request)
          .then(({ data }) => {
            this.$notify({
              group: 'popup',
              title: 'Success',
              text: data.data.message,
              type: 'success',
            });
            this.selectedOpen = false;
            this.currentlyEditing = null;
          })
          .catch(({ response }) => console.log(response))
    },
    async deleteEvent() {
      api()
          .delete(`api/schedule/${this.selectedEvent.id}`)
          .then(({ data }) => {
            this.$notify({
              group: 'popup',
              title: 'Success',
              text: data.data.message,
              type: 'success',
            });
            this.selectedOpen = false;
            this.getEvents();
          })
          .catch(({ response }) => console.log(response))
    },
    updateRange ({ start, end }) {
      const events = []

      const min = new Date(`${start.date}T00:00:00`)
      const max = new Date(`${end.date}T23:59:59`)
      const days = (max.getTime() - min.getTime()) / 86400000
      const eventCount = this.rnd(days, days + 20)

      for (let i = 0; i < eventCount; i++) {
        const allDay = this.rnd(0, 3) === 0
        const firstTimestamp = this.rnd(min.getTime(), max.getTime())
        const first = new Date(firstTimestamp - (firstTimestamp % 900000))
        const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
        const second = new Date(first.getTime() + secondTimestamp)
      }
    },
    rnd (a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
  },
}
</script>