<template>
  <v-app>
    <notifications group="popup" position="top center"/>
    <component :is="layoutName">
      <router-view />
    </component>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import LoggedInLayout from "@/layouts/LoggedInLayout.vue";
import AuthLayout from "@/layouts/AuthLayout.vue";

export default Vue.extend({
  name: 'App',
  components: { LoggedInLayout, AuthLayout },
  computed: {
    layoutName() {
      const routeMeta = this.$route.meta
      return routeMeta ? routeMeta.layout : undefined
    },
  },
});
</script>
