<template>
  <v-main style="background-color: #D6D9CE">
      <slot></slot>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'AuthLayout',
});
</script>