<template>
  <v-main style="background-color: #D6D9CE">
    <nav-bar></nav-bar>
    <v-main class="mx-4 mb-4">
      <slot></slot>
    </v-main>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue';
import NavBar from '@/components/Nav-bar.vue'

export default Vue.extend({
  name: 'LoggedInLayout',
  components: { NavBar },
});
</script>