<template>
  <v-dialog v-model="dialog" scrollable width="500">
    <template v-slot:activator="{ on }">
      <create-button v-on="on">Add User</create-button>
    </template>
    <v-card>
      <v-card-title class="light-grey headline">User Details</v-card-title>
      <v-card-text>
        <v-text-field
            v-model="data.username"
            label="Username"
            color="secondary"
            :error-messages="errors.username"
            @input="clearFieldError('username')"
        />
        <v-text-field
            v-model="data.email"
            label="Email"
            color="secondary"
            :error-messages="errors.email"
            @input="clearFieldError('email')"
        />
        <v-card class="px-3 mt-3 pb-3">
          <v-card-title>Password</v-card-title>
          <v-text-field
              v-model="data.password"
              label="Password"
              color="secondary"
              type="password"
              :error-messages="errors.password"
              @input="clearFieldError('password')"
          />
          <v-text-field
              v-model="data.password_confirmation"
              label="Password Confirmation"
              color="secondary"
              type="password"
              :error-messages="errors.password_confirmation"
              @input="clearFieldError('password_confirmation')"
          />
        </v-card>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <cancel-button label="Cancel" @click="close" />
        <submit-button @click="add" color="green" width="120" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import CreateButton from '@/components/CreateButton.vue';
import CancelButton from '@/components/CancelButton.vue';
import SubmitButton from '@/components/SubmitButton.vue';
import api from "@/plugins/api";
import Vue from "vue";

export default {
  components: {CreateButton, CancelButton, SubmitButton},
  data(){
    return {
      dialog: false,
      data: {
        username: '',
        email: '',
        password: '',
        password_confirmation: '',
      },
      errors: {}
    }
  },
  methods: {
    async add() {
      try {
        const response = await api().post('/api/users', this.data)
        if (response) {
          this.$emit('user-created')
          this.$notify({
            group: 'popup',
            title: 'Success',
            text: response.data.message,
            type: 'success',
          });
          this.close()
        }
      } catch ({response}) {
        this.errors = response.data.errors;
        this.$notify({
          group: 'popup',
          title: 'Error',
          text: response.data.message,
          type: 'error',
        });
      }
    },
    close(){
      this.data = {
        username: '',
        email: '',
        password: '',
        password_confirmation: '',
        roles: [],
      }
      this.errors = {}
      this.dialog = false
    },
    clearFieldError(key) {
      Vue.delete(this.errors, key)
    }
  }
}
</script>