<template>
  <v-dialog v-model="dialog" scrollable width="500">
    <template v-slot:activator="{ on, attrs }">
      <edit-button :on="on" :attrs="attrs" @clicked="fetchData" />
    </template>
    <v-card>
      <v-card-title class="light-grey headline">Edit User</v-card-title>
      <v-card-text>
        <v-text-field
            v-model="request.username"
            label="Username"
            :error-messages="errors.username"
            @input="clearFieldError('username')"
        />
        <v-text-field
            v-model="request.email"
            label="Email"
            :error-messages="errors.email"
            @input="clearFieldError('email')"
        />
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <cancel-button label="Cancel" @clicked="close" />
        <v-spacer />
        <submit-button label="Ndrysho" @clicked="saveChanges" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from '@/plugins/api'
import EditButton from '@/components/EditButton.vue'
import CancelButton from '@/components/CancelButton.vue'
import SubmitButton from '@/components/SubmitButton.vue'
import Vue from "vue";

export default {
  components: { CancelButton, SubmitButton, EditButton },
  data () {
    return {
      dialog: false,
      request: {},
      errors: {}
    }
  },
  props: ['userId'],
  methods: {
    fetchData() {
      api()
          .get(`api/users/${this.userId}`)
          .then(({ data }) => (this.request = data.data))
    },
    async saveChanges() {
      await api()
          .put(`api/users/${this.userId}`, this.request)
          .then(({ data }) => {
            this.close()
            this.$notify({
              group: 'popup',
              title: 'Success',
              text: data.data.message,
              type: 'success',
            });
            this.$emit('user-edited')
          })
          .catch(({ response }) => {
            this.errors = response.data.errors
            this.$notify({
              group: 'popup',
              title: 'Error',
              text: response.data.message,
              type: 'error',
            });
          })
          .finally()
    },
    close() {
      this.dialog = false
      this.errors = {}
    },
    clearFieldError(key) {
      Vue.delete(this.errors, key)
    }
  },

}
</script>
