<template>
  <v-dialog v-model="dialog" scrollable width="500">
    <template v-slot:activator="{ on, attrs }">
      <show-button :on="on" :attrs="attrs" @clicked="fetchData" />
    </template>
    <v-card>
      <v-card-title class="light-grey headline">User</v-card-title>
      <v-card-text class="text--primary">
        <details-item label="Username">{{ user.username }}</details-item>
        <v-divider inset />
        <details-item label="Email">{{ user.email }}</details-item>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <close-button label="mbyll" @clicked="dialog = false" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from '@/plugins/api'
import ShowButton from '@/components/ShowButton.vue'
import DetailsItem from '@/components/DetailsItem.vue'
import CloseButton from '@/components/CloseButton.vue'

export default {
  components: { CloseButton, DetailsItem, ShowButton },
  data () {
    return {
      dialog: false,
      user: {},
    }
  },
  props: ['id'],
  methods: {
    fetchData() {
      api()
          .get(`api/users/${this.id}`)
          .then(({ data }) => (this.user = data.data))
    }
  },

}
</script>
