<template>
  <v-card outlined flat elevation="0" class="mt-5">
    <v-card-title class="ml-5">Users</v-card-title>
    <v-row>
      <v-spacer />
      <v-col cols="3">
        <create-user @user-created="fetchData"/>
      </v-col>
    </v-row>
    <v-data-table
        :headers="headers"
        :items="data"
        :options.sync="pagination"
        :server-items-length="totalRecords"
        :loading="loading"
        fixed-header
        outlined
    >
      <template v-slot:item="{ item }">
        <tr>
          <td>{{ item.username }}</td>
          <td>{{ item.email }}</td>
          <td>
            <v-row>
              <show-user :id="item.id" />
              <edit-user @user-edited="fetchData" :user-id="item.id" />
            </v-row>
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>


import api from "@/plugins/api";
import CreateUser from './CreateUser'
import ShowUser from './ShowUser'
import EditUser from './EditUser'

export default {
    components: { CreateUser, ShowUser, EditUser },
    data(){
      return {
        headers: [
          {value: 'name', text: 'Name', sortable: true},
          {value: 'surname', text: 'Email', sortable: true},
          {text: 'Actions', sortable: false},
        ],
        search: '',
        pagination: {},
        totalRecords: 0,
        data: [],
        loading: true
      }
    },
    beforeMount() {
      this.fetchData();
    },
    methods: {
      fetchData(){
        api()
            .get(`api/users`)
            .then(({ data }) => {
              this.data = data.data
              this.totalRecords = data.meta.total
            })
            .catch(({ response }) => console.log(response))
            .finally(
                this.loading = false
            )
      }
    }
}
</script>